/* Required for full background image */
@import '~font-awesome/css/font-awesome.css';

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1100px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

@media (min-width: 851px) {
    html,
    body,
    header,
    .view {
        height: 665px;
    }
}

.top-nav-collapse {
    background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #39448c !important;
    }
}

h6 {
    line-height: 1.7;
}

.fondo_verde {
    background-color: green;
}

.fondo_login {
    background-image: url(../../assets/img/emilima.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
