<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Emilima_SGD</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/usuario']">
                        <span class='glyphicon glyphicon-th-list'></span> Usuarios
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/area']">
                        <span class='glyphicon glyphicon-th-list'></span> Areas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a [routerLinkActive]="['active']" class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" [routerLink]="['/principal']">
        <span class='glyphicon glyphicon-th-list'></span> Home
    </a>
    <a [routerLinkActive]="['active']" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['/usuario']">
        <span class='glyphicon glyphicon-th-list'></span> Usuarios
    </a>
    <a [routerLinkActive]="['active']" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['/area']">
        <span class='glyphicon glyphicon-th-list'></span> Areas
    </a>
    <a [routerLinkActive]="['active']" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['/tipotramite']">
        <span class='glyphicon glyphicon-th-list'></span> Tipo Tramite
    </a>
    <a [routerLinkActive]="['active']" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['/tipodocumento']">
        <span class='glyphicon glyphicon-th-list'></span> Tipo Documento
    </a>
</div>