<div class="container-fluid">
    <div class="row">
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class="col-sm-9">
            <div *ngIf="Lista_Usuario == true">
                <h4>Usuarios</h4>
                <button type="button" class="btn btn-success" (click)="cambioNuevo()">
                    Agregar
                </button>
                <usuariolista></usuariolista>
            </div>
            <div *ngIf="Nuevo_Usuario == true">
                <h4>Nuevo Usuario</h4>
                <button type="button" class="btn btn-info" (click)="cambioLista()">
                    Volver
                </button>
                <usuarioform></usuarioform>
            </div>
        </div>
    </div>
</div>