<form [formGroup]="usuarioForm" (ngSubmit)="nuevoUsuario()" novalidate>
    <div class="form-group">
        <label for="InputNombre">Nombre y Apellidos</label>
        <input type="text" class="form-control" id="InputNombre" placeholder="Nombre" />
    </div>
    <div class="form-group">
        <label for="InputEmail">Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="InputUsuario">Usuario</label>
        <input type="text" class="form-control" id="InputUsuario" placeholder="Usuario" />
    </div>
    <div class="form-group">
        <label for="InputContra">Contraseña</label>
        <input type="password" class="form-control" id="InputContra" placeholder="Contraseña" />
    </div>
    <div class="form-group">
        <label for="InputContra">Confirmar contraseña</label>
        <input type="password" class="form-control" id="InputContra" placeholder="Respita la contraseña" />
    </div>
</form>