<body>
    <!-- Start your project here-->
    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view fondo_login">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row pt-lg-5 mt-lg-5">
                        <!--Grid column-->
                        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
                            <h1 class="display-4 font-weight-bold">Sistema de Gestión Documental</h1>
                            <hr class="hr-light">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/sgd.png" alt="Card image cap">
                            </div>
                        </div>
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mb-4">

                            <!-- Material form login -->
                            <div class="card">
                                <h5 class="card-header info-color white-text text-center py-4">
                                    <strong>
                                        Inicio de Sesión
                                    </strong>
                                </h5>

                                <!--Card content-->
                                <div class="card-body px-lg-5 pt-0">

                                    <!-- Form -->
                                    <form method="get" action="dashboard.html" class="text-center" style="color: #757575;">

                                        <!-- Username -->
                                        <div class="md-form">
                                            <input type="text" id="materialLoginFormUsername" class="form-control">
                                            <label for="materialLoginFormUsername">Usuario</label>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form">
                                            <input type="password" id="materialLoginFormPassword" class="form-control">
                                            <label for="materialLoginFormPassword">Password</label>
                                        </div>
                                        <div class="d-flex justify-content-around">
                                            <div>
                                                <!-- Remember me -->
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                                                    <label class="form-check-label" for="materialLoginFormRemember">Recordarme</label>
                                                </div>
                                            </div>
                                            <div>
                                                <!-- Forgot password -->
                                                <a href="">¿Olvido Contraseña?</a>
                                            </div>
                                        </div>

                                        <!-- Sign in button -->
                                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Entrar</button>

                                    </form>
                                    <!-- Form -->

                                </div>

                            </div>
                            <!-- Material form login -->
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!-- /Start your project here-->

</body>