<meta charset="utf-8" />
<div class="container-login100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="display-4 font-weight-bold">Sistema de Gestión Documental</h1>
                <hr class="hr-light">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/sgd.png" alt="Card image cap">
                </div>
            </div>
            <!--login-->
            <div class="col-sm-5">
                <div class="card">
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>
                            Inicio de Sesión
                        </strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5">

                        <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="validaUsuario()"
                              class="text-center needs-validation" style="color: #757575;" novalidate>
                            <div class="md-form">
                                <label for="InputUsu" class="text-left">
                                    Usuario
                                </label>
                                <input type="text" id="InputUsu" formControlName="us_usuario" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.us_usuario.errors }" required>
                                <div *ngIf="f.us_usuario.errors" class="invalid-feedback">
                                    <div *ngIf="f.us_usuario.errors.required">*</div>
                                </div>
                            </div>
                            <div class="md-form">
                                <label for="InputContra" class="text-left">Password</label>

                                <input type="password" id="InputContra" formControlName="us_contra" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.us_contra.errors }" required>
                                <div *ngIf="f.us_contra.errors" class="invalid-feedback">
                                    <div *ngIf="f.us_contra.errors.required">campo requerido*</div>
                                </div>

                            </div>
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Entrar</button>
                            <div *ngIf="submitted && !loginForm.invalid && !isLogged" class="alert alert-danger">
                                <div>Error en el inicio de sesión</div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
